# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Secrets
.env
k8s/secrets.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
